<% provide(:title, 'All users') %>

<h1>Pazienti</h1>

<ul class="users">
    <% @users.each do |user| %>
        <% if !user.is_doctor %>
            <%= render user %>
        <% end %>
    <% end %>
</ul>