<footer class="footer">
  <small>
    Studio Odontoiatrico
  </small>
  <nav>
    <ul>
      <li><%= link_to "Chi Siamo",   about_path %></li>
      <li><%= link_to "Contattaci", contact_path %></li>
    </ul>
  </nav>
</footer>